* {
  font-family: Arial, Helvetica, sans-serif;
}

.general,
.resultado {
  height: 80px;
  align-items: center;
  /*border: 1px solid black;*/
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 22px;
}

.busqueda{
  display: flex;
  align-items: center;
  padding: 14px;
  border-radius: 100px;
  background: whitesmoke;
  font-size: 50px;
}

.busqueda-entrada {
  width: 85%;
  font-size: 40px;
  margin-left: 14px;
  border: none;
  background: transparent;
}

.box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  height: 280px;
  width: 100%;
}

.boxi{
  flex-grow: 0;
  height: 100%;
  width: 200px;
}

#res-busqueda {
  height: 280px;
}

.boxt{
  flex-grow: 1;
  height: 100%;
  width: 200px;
}
@media(min-width: 715px){
  box{
    flex-wrap: wrap;
  }
}
